<form method="post">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>School Login</h4>
                <br />

                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label>Email Address</label>
                            <input class="form-control" name="emailAddress" />
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input class="form-control" name="password" type="password" />
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>